@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap");
body {
  font-family: "Dosis", sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
}
.container {
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.3);
  margin: 10% auto;
  height: 100%;
  width: 650px;
  border-radius: 10px;
  padding: 10px;
  background-color: aqua;
  text-align: center;
}

h1 {
  color: #333;
}
input {
  font-family: "Dosis", sans-serif;
}
#weather {
  margin-top: 20px;
}

.weather-icon {
  width: 100px;
  height: 100px;
  margin-top: 10px;
}
